td {
    padding: 5px;
    border: 0.5px solid black;
    font-size: 16px;
    text-align: center;
    color: black;
}

th {
    border: 0.1px solid black;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}